# Example .env file for Airbyte Docker Compose
# Fill in the values as needed for your environment

APPLY_FIELD_SELECTION=
DEPLOYMENT_MODE=
FIELD_SELECTION_WORKSPACES=
JOB_ERROR_REPORTING_SENTRY_DSN=
LAUNCHDARKLY_KEY=
LOG_CONNECTOR_MESSAGES=
PYTHONPATH=
AIRFLOW_UID=
GITHUB_STORE_BRANCH=
NEW_SCHEDULER=
WORKER_ENVIRONMENT=
TEMPORAL_HISTORY_RETENTION_IN_DAYS=
UPDATE_DEFINITIONS_CRON_ENABLED=
CDK_VERSION=
PYTHON_VERSION=
