dask
duckdb
distributed
redis
boto3
psycopg2-binary
apache-airflow-providers-amazon[s3fs]
s3fs
sqlalchemy-redshift
apache-airflow-providers-redis
apache-airflow-providers-common-sql
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-postgres
apache-airflow-providers-mysql
# apache-airflow-providers-snowflake
# astronomer-cosmos[dbt-snowflake]==1.3.2
# dbt-snowflake==1.7.2
# soda-core-snowflake==3.2.2
# soda-core-scientific==3.2.2

asyncpg
faker
pyodbc
pandas==2.1.4
pendulum
sqlalchemy
cx-Oracle==8.3.0
pymssql==2.3.1
PyMySQL==1.0.2
mysql-connector-python==8.1.0
# Additional dependencies for Spark integration
pyspark==3.5.0
py4j


apache-airflow-providers-airbyte==3.6.0
